*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #007369;
  min-height: 100vh;
}

#board {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  background-color: #fff;
  margin-bottom: 2rem;
  box-shadow: 10px 10px 1rem hsl(0 0% 0% / 35%);
}

.controls {
  display: flex;
  gap: 3rem;
  margin-bottom: 2rem;
}

.controls button {
  border: none;
  border-radius: 2rem;
  padding: 0.7rem 1.5rem;
  background-color: hsl(165 45% 70%);
  box-shadow: 0 0 0.7rem hsl(0 0% 0% / 35%);
  color: hsl(144 30% 19%);
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  scale: 1.025;
  transition: all 0.1s linear;
}

button:active {
  scale: 0.99;
  background-color: hsl(165 25% 50%);
}

.board-size {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  margin-bottom: 1rem;
}

.size-label {
  margin-left: 1rem;
  color: white;
}

.row {
  display: flex;
}

.set-size {
  margin-left: 1rem;
}
